body {
    display: flex;
    margin: 0;
  }
  
  header {
    height: 100vh;
    width: 20vw;
    background: #44156b;
    position: relative;
  }
  
  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul.menu {
    list-style-type: none;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  a.link-menu {
    color: white;
    font-family: Times, Times New Roman, serif;
    opacity: 0.3;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
  }

  li.lista-menu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #perfil {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 8px solid #532c74;
  }
  
  main {
    position: relative;
    height: 100vh;
    width: 80vw;
  }
  
  section.conteudo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3vw;
  }
  
  h1#nome {
    font-family: Times, Times New Roman, serif;
    font-weight: 900;
    font-size: 50px;
    color: #6c757d;
    margin:0;
  }
  
  span#sobrenome {
    color: #44156b;
  }
  
  h2#informacoes {
    display: flex;
    margin: 1;
  }
  
  .meus-dados {
    font-family: Times, Times New Roman, serif;
    font-weight: 550;
    font-style: Times, Times New Roman, serif ;
    font-size: 20;
    color: #6c757d;
    margin: 0.2%;
  }
  
  #cidade {
    color: #6c757d;
    display: block;
    width: 450px;
    position:relative;
    
  }
  
  #descricao {
    color: #6c757d;
    font-family: Times, Times New Roman, serif;
    font-weight: 500;
    font-size: 20px;
  }
  
  a.redes-sociais {
    margin-right: 13px;
    margin-left: 5px;
  }
  
  img.redes-sociais {
    width: 35px;
  }
  
  h1.titulo {
    font-family: Times, Times New Roman, serif;
    font-weight: 900;
    color: #44156b;
    font-size: 30px;
    margin-top: 0;
  }
  
  ol.conhecimentos {
    margin-left: 20px;
    margin-bottom: 0;
    padding-left: 0;
    counter-reset: li;
  }

  li.conhecimentos {
    color: #532c74;
    font-family: Times, Times New Roman, serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    margin: 0 0px 2px 2em;
    padding: 4px 8px;
    list-style: none;
    border-top: 2px solid #44156b;
  }
  
  li.conhecimentos:before {
    content: counter(li, upper-latin);
     counter-increment:li;
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #44156b;
    color: #fff;
    background: #44156b;
    font-weight: bold;
    font-family:  Times, Times New Roman, serif;
    font-weight: 900;
    text-align: center;
  }
  
  ul.objetivos-p {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
  }
  
  ul.objetivos {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style-type: circle;
  }
  
  li.objetivos {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #6c757d;
    font-family: Times, Times New Roman, serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  
  li.objetivos-p {
    color: #6c757d;
    font-family: Times, Times New Roman, serif;
    font-weight: 600;
    font-style: iTimes, Times New Roman, serif;;
    font-size: 18px;
  }



   


 





